
header{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: center;
}
.ul{
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
#btn{
    width: 250px;
    font-size: 1.2em;
}
