body {
  font-family: "Poppins", sans-serif;
}

h1 {
  margin-left: 4cm;
  font-family: "Roboto Mono", monospace;
  font-size: 2.3em;
}

h3 {
  font-family: "Poppins", sans-serif;
  color: #02245c;
}

h4 {
  font-weight: 900;
  margin-bottom: 1px;
}

h6 {
  margin-top: 0px;
  margin-bottom: 5px;
}

input {
  margin-right: 0cm;
  width: 120px;
}

button {
  background-color: black;
  color: aliceblue;
  border-radius: 4px;
  transition: all 0.5s;
}

button:hover {
  box-shadow: 5px 5px 5px #423f38;
  width: 140px;
}

hr {
  margin-left: 0px;
  margin-right: 0px;
}

img {
  float: left;
  padding-right: 1cm;
  height: 200px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #02245c;
  height: 50px;
  color: aliceblue;
}

label {
  font-weight: 700;
}

.heading {
  margin-top: none;
  background-color: #02245c;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-title {
  background-color: aliceblue;
  width: 30%;
  height: 80px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 900;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.arctile {
  margin: 10px 0px 10px 0px;
  padding-bottom: 1.5cm;
}

.article-btn {
  background-color: #f2190a;
  border: 0px;
  padding: 7px 7px 7px 7px;
}

#main-heading {
  color: black;
}

/* code for mobile version*/
@media screen and (max-width: 480px) {
  #main-heading {
    font-size: small;
    margin-top: 0.7cm;
  }

  h6 {
    font-size: 0.5em;
  }

  h1 {
    font-size: medium;
    margin-left: 1.4cm;
    margin-right: 1.2cm;
  }

  img {
    height: 110px;
  }

  label {
    font-size: 0.5em;
  }

  input {
    width: 60px;
  }

  .subscribe {
    font-size: 10px;
  }

  h5 {
    font-weight: 400;
  }

  button:hover {
    box-shadow: 5px 5px 5px #423f38;
    width: 140px;
  }

  #footer-text {
    font-size: small;
  }
}

@media screen and (max-width: 764px) {
  label {
    font-size: small;
  }

  img {
    height: 160px;
  }

  p {
    font-size: 1em;
  }
}

@media only screen and (max-width: 722px) and (min-width: 481px) {
  h1 {
    font-size: 1.5em;
  }

  label {
    font-size: x-small;
  }
}